/* imports */
/* variables */
/* MOBILE */
/* INDEX */
/* navbar */
.navbar {
  padding: 0.5rem;
}

.navbar input {
  font-size: 1rem;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: lighter;
  color: #F3DFC1;
  text-align: center;
}

.navbar button {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 1rem;
}

#navbarSupportedContent {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

#navbarSupportedContent li {
  margin-left: 2rem;
  margin-right: 2rem;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 1rem;
  text-transform: uppercase;
  font-weight: 350;
}

#navbar-brandDesktop {
  display: none;
}

/* header */
.header h1 {
  display: none;
}

.header img {
  width: 100%;
  height: auto;
}

.header p {
  font-size: 0.8rem;
  color: #F3DFC1;
  text-align: center;
  margin-top: 1rem;
}

.header h2 {
  font-size: 1.8rem;
  letter-spacing: 0.3rem;
  text-align: center;
  padding: 2rem;
  color: white;
}

/* section mobile */
.sectionMobile {
  padding: 1.3rem;
}

.sectionMobile h3 {
  font-size: 1rem;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: lighter;
  color: #F3DFC1;
  text-align: center;
  font-size: 1.5rem;
  letter-spacing: 0.3rem;
}

/* main */
.carousel-indicators {
  background: none;
}

.carousel-control-prev-icon {
  background: none;
}

.carousel-control-next-icon {
  background: none;
}

.mainIndex__imagenes {
  display: none;
}

/* section dektop */
.sectionDesktop {
  padding: 1.3rem;
}

.sectionDesktop h3 {
  font-size: 1rem;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: lighter;
  color: #F3DFC1;
  text-align: center;
  text-transform: uppercase;
  font-size: 1.5rem;
  font-weight: 300;
  letter-spacing: 0.2rem;
  -webkit-animation: frase 4s infinite;
          animation: frase 4s infinite;
}

@-webkit-keyframes frase {
  0% {
    color: #B0F2B4;
  }
  15% {
    color: #BAF2E9;
  }
  30% {
    color: #BAD7F2;
  }
  50% {
    color: #F2BAC9;
  }
  70% {
    color: #BAD7F2;
  }
  85% {
    color: #BAF2E9;
  }
  100% {
    color: #B0F2B4;
  }
}

@keyframes frase {
  0% {
    color: #B0F2B4;
  }
  15% {
    color: #BAF2E9;
  }
  30% {
    color: #BAD7F2;
  }
  50% {
    color: #F2BAC9;
  }
  70% {
    color: #BAD7F2;
  }
  85% {
    color: #BAF2E9;
  }
  100% {
    color: #B0F2B4;
  }
}

.sectionDesktop h4 {
  font-size: 1rem;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: lighter;
  color: #F3DFC1;
  text-align: center;
  margin: 2rem 0rem 2rem 0rem;
  font-size: 1.5rem;
  letter-spacing: 0.2rem;
}

/* footer */
.footer {
  font-size: 1rem;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: lighter;
  color: #F3DFC1;
  text-align: center;
}

.footer div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.footer img {
  padding: 0.25rem;
  width: 33.333%;
  height: auto;
}

.footer ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding: 1rem;
  list-style-type: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.footer a {
  color: #F3DFC1;
  padding: 0.80rem;
  text-decoration: none;
  font-size: 0.8rem;
}

.footer p {
  font-size: 0.8rem;
  margin-bottom: 2rem;
}

/* TIENDA */
/* main tienda */
.mainTienda {
  margin-bottom: 3rem;
}

.mainTienda__productos {
  font-size: 1rem;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: lighter;
  color: #F3DFC1;
  text-align: center;
}

.mainTienda__productos ul {
  padding: 0px;
  margin: 0.5rem;
  list-style-type: none;
}

.mainTienda__productos li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.mainTienda__ul li div {
  font-size: 1rem;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: lighter;
  color: #F3DFC1;
  text-align: center;
  margin: auto;
  margin-top: 1rem;
  margin-bottom: 0.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.mainTienda__ul li div img {
  width: 18rem;
  height: auto;
  display: block;
  margin: auto;
  margin-top: 1rem;
  -webkit-filter: brightness(0.7);
          filter: brightness(0.7);
}

.mainTienda__ul li div img:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  -webkit-transition: 0.2s;
  transition: 0.2s;
  -webkit-filter: none;
          filter: none;
}

.mainTienda__ul li div label {
  padding: 1rem;
  text-decoration: overline;
  font-size: larger;
  font-weight: 300;
}

.mainTienda__ul li div:hover label {
  color: white;
  font-size: x-large;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.mainTienda__ul li div p {
  padding: 0.3rem;
}

.mainTienda__ul li div select {
  width: 70%;
  display: block;
  margin: auto;
  font-size: 1rem;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: lighter;
  color: #F3DFC1;
  text-align: center;
  padding: 0.5rem;
  border-color: #00524B;
}

.hr {
  border-color: white;
  color: white;
  background-color: white;
  width: 85%;
  display: block;
  margin: auto;
  opacity: 90;
  margin-top: 3rem;
}

.mainTienda__datos {
  padding: 1px;
  margin: 4rem 0rem 2rem 0rem;
  -webkit-filter: brightness(0.9);
          filter: brightness(0.9);
  font-size: 1rem;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: lighter;
  color: #F3DFC1;
  text-align: center;
}

.mainTienda__datos div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 1rem 0rem 1rem 0rem;
}

.mainTienda__datos div:hover label {
  font-size: large;
  color: white;
}

.mainTienda__datos div:hover input {
  border-width: 0.2rem;
  border-style: solid;
  border-color: #00524B #00524B white #00524B;
}

.mainTienda__datos div input {
  display: block;
  margin: auto;
  font-size: 1rem;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: lighter;
  color: #F3DFC1;
  text-align: center;
  color: white;
  width: 60%;
  border-style: solid;
  border-width: 0.1rem;
  border-color: #00524B #00524B #F3DFC1 #00524B;
}

.mainTienda__datos div p {
  font-size: small;
  margin: 1.5rem 5rem 0rem 5rem;
}

.mainTienda__2 {
  margin-top: 2rem;
}

.mainTienda__2 textarea {
  font-size: 1rem;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: lighter;
  color: #F3DFC1;
  text-align: center;
  color: white;
  display: block;
  margin: auto;
  margin-top: 1rem;
  width: 75%;
  border: dashed 0.1rem #F3DFC1;
  border-radius: 1rem;
}

.mainTienda__2 button {
  width: 60%;
  font-size: 1rem;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: lighter;
  color: #F3DFC1;
  text-align: center;
  display: block;
  margin: auto;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.mainTienda__label2:hover label {
  font-size: large;
  color: white;
  text-decoration: overline;
}

.mainTienda__label2:hover textarea {
  border-width: 0.2rem;
  border-style: solid;
  border-color: white;
}

.mainTienda__label2 label {
  margin-top: 1rem;
  font-size: 1rem;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: lighter;
  color: #F3DFC1;
  text-align: center;
  display: block;
  margin: auto;
}

.mainTienda__pedido {
  margin: 1rem 0rem 0rem 0rem;
}

.mainTienda__pedidolisto {
  display: none;
}

/* EVENTOS */
/* main eventos */
.mainEventos p {
  font-size: 1rem;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: lighter;
  color: #F3DFC1;
  text-align: center;
  margin: 1rem 3rem 1rem 3rem;
}

/* section eventos */
.sectionEventos h4 {
  font-size: 1rem;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: lighter;
  color: #F3DFC1;
  text-align: center;
  color: white;
  font-size: 1.3rem;
  margin: 3.2rem;
}

.sectionEventos__opcion1 {
  display: block;
  margin: auto;
}

.sectionEventos__opcion1:hover img {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  -webkit-transition: 0.2s;
  transition: 0.2s;
  -webkit-filter: none;
          filter: none;
}

.sectionEventos__opcion1 img {
  display: block;
  margin: auto;
  width: 70%;
  height: auto;
  -webkit-filter: brightness(0.7);
          filter: brightness(0.7);
}

.sectionEventos__opcion2 {
  display: block;
  margin: auto;
}

.sectionEventos__opcion2:hover img {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  -webkit-transition: 0.2s;
  transition: 0.2s;
  -webkit-filter: none;
          filter: none;
}

.sectionEventos__opcion2 img {
  display: block;
  margin: auto;
  width: 80%;
  height: auto;
  -webkit-filter: brightness(0.7);
          filter: brightness(0.7);
}

.h4Eventos {
  display: block;
  margin: auto;
  font-size: 1rem;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: lighter;
  color: #F3DFC1;
  text-align: center;
  color: white;
  letter-spacing: 0.12rem;
}

.h4Eventos:hover h4 {
  -webkit-transition: 0.1s;
  transition: 0.1s;
  font-size: 1.4rem;
  font-weight: 450;
  letter-spacing: 0.2rem;
}

.sectionEventos__opcion3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  margin-bottom: 2rem;
}

.sectionEventos__opcion3 img {
  width: 50%;
  height: auto;
}

/* QUIENES SOMOS */
/* main quienes */
.mainQuienes {
  font-size: 1rem;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: lighter;
  color: #F3DFC1;
  text-align: center;
  margin: 1rem 3rem 3rem 3rem;
}

.mainQuienes a {
  color: white;
  text-decoration: none;
}

.mainQuienes b {
  color: white;
  font-weight: bolder;
  font-size: large;
  letter-spacing: 0.1rem;
  -webkit-animation: enblanco 6s infinite;
          animation: enblanco 6s infinite;
  -webkit-animation-delay: 2s;
          animation-delay: 2s;
}

@-webkit-keyframes enblanco {
  0% {
    color: white;
  }
  100% {
    color: #00524B;
  }
}

@keyframes enblanco {
  0% {
    color: white;
  }
  100% {
    color: #00524B;
  }
}

/* aside quienes */
.asideQuienes__amasa {
  display: none;
}

/* CONTACTO */
/* main contacto */
.mainContacto__form {
  font-size: 1rem;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: lighter;
  color: #F3DFC1;
  text-align: center;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
  padding: 1.5rem;
  -webkit-filter: brightness(0.9);
          filter: brightness(0.9);
}

.mainContacto__form input {
  display: block;
  margin: auto;
  font-size: 1rem;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: lighter;
  color: #F3DFC1;
  text-align: center;
  width: 60%;
  border-width: 0.1rem;
  border-style: solid;
  border-color: #00524B #00524B #F3DFC1 #00524B;
}

.mainContacto__form label {
  margin: 1rem;
}

div
.mainContacto__datos:hover input {
  border-width: 0.2rem;
  border-style: solid;
  border-color: #00524B #00524B white #00524B;
}

.mainContacto__datos:hover label {
  font-size: large;
  color: white;
}

#datosConsulta {
  margin-top: 1rem;
  margin-bottom: 2rem;
}

#datosConsulta:hover label {
  font-size: large;
  color: white;
  text-decoration: overline;
}

#datosConsulta:hover textarea {
  border: solid white 0.2rem;
}

#datosConsulta textarea {
  font-size: 1rem;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: lighter;
  color: #F3DFC1;
  text-align: center;
  display: block;
  margin: auto;
  color: white;
  width: 80%;
  border: dashed 0.1rem #F3DFC1;
  border-radius: 1rem;
}

#datosConsulta button {
  width: 60%;
  font-size: 1rem;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: lighter;
  color: #F3DFC1;
  text-align: center;
  display: block;
  margin: auto;
  margin-top: 1rem;
}

/* TABLET */
@media (min-width: 600px) {
  /* INDEX */
  /* navbar */
  #navbar-brandDesktop {
    display: inline-block;
    margin: 0rem;
    padding: 0rem;
  }
  #navbar-brandMobile {
    display: inline-block;
    margin: 0rem;
    padding: 0rem;
  }
  #navForm {
    display: block;
    margin: auto;
    margin-top: 1rem;
    width: 90%;
  }
  .navbar-nav a {
    margin-left: 0.5rem;
    margin-right: 0.5rem;
  }
  /* header */
  .header img {
    display: none;
  }
  .header h1 {
    display: block;
    text-align: center;
    color: white;
    font-family: "Zeyada", cursive;
    font-size: 8rem;
  }
  .header p {
    font-size: 1rem;
    margin-top: 0rem;
  }
  .header h2 {
    font-size: 3rem;
  }
  /* seciton */
  .sectionMobile h3 {
    font-size: 2rem;
  }
  .sectionDesktop {
    padding: 2rem;
  }
  .sectionDesktop h3 {
    font-size: 2.5rem;
    letter-spacing: 0.4rem;
    -webkit-animation: tentamos 3s infinite;
            animation: tentamos 3s infinite;
  }
  @-webkit-keyframes tentamos {
    0% {
      color: #B0F2B4;
    }
    15% {
      color: #BAF2E9;
    }
    30% {
      color: #BAD7F2;
    }
    50% {
      color: #F2BAC9;
    }
    70% {
      color: #BAD7F2;
    }
    85% {
      color: #BAF2E9;
    }
    100% {
      color: #B0F2B4;
    }
  }
  @keyframes tentamos {
    0% {
      color: #B0F2B4;
    }
    15% {
      color: #BAF2E9;
    }
    30% {
      color: #BAD7F2;
    }
    50% {
      color: #F2BAC9;
    }
    70% {
      color: #BAD7F2;
    }
    85% {
      color: #BAF2E9;
    }
    100% {
      color: #B0F2B4;
    }
  }
  .sectionDesktop h4 {
    font-size: 2rem;
  }
  /* main */
  .mainContainer {
    display: none;
  }
  .mainIndex__imagenes {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .mainIndex__imagenes div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: row;
        -ms-flex: row;
            flex: row;
  }
  .mainIndex__imagenes div img {
    width: 33.33%;
    height: auto;
    -webkit-filter: brightness(0.7);
            filter: brightness(0.7);
  }
  .mainIndex__imagenes div img:hover {
    -webkit-filter: brightness(1.1);
            filter: brightness(1.1);
    -webkit-transition: 00.5s;
    transition: 00.5s;
  }
  /* footer */
  .footer a {
    font-size: 1rem;
  }
  .footer p {
    font-size: 1rem;
  }
  /* TIENDA */
  /* main tienda */
  .mainTienda__datos div input {
    width: 40%;
  }
  .mainTienda__2 textarea {
    width: 70%;
  }
  .mainTienda__2 button {
    width: 40%;
  }
  /* EVENTOS */
  /* section eventos */
  .sectionEventos__opcion1 {
    padding: 3rem 1rem 3rem 1rem;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 2fr 2fr;
        grid-template-columns: 2fr 2fr;
    -ms-grid-rows: auto;
        grid-template-rows: auto;
        grid-template-areas: "frase1 picada";
  }
  .sectionEventos__opcion1 h4 {
    display: block;
    margin: auto;
    font-size: x-large;
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    grid-area: frase1;
  }
  .sectionEventos__opcion1 img {
    width: 18rem;
    height: auto;
    -ms-grid-row: 1;
    -ms-grid-column: 2;
    grid-area: picada;
  }
  .sectionEventos__opcion2 h4 {
    display: block;
    margin: auto;
    margin-top: 2rem;
    margin-bottom: 2rem;
    font-size: x-large;
  }
  .sectionEventos__opcion2 img {
    margin-top: 4rem;
    margin-bottom: 2rem;
    width: 30rem;
    height: auto;
  }
  .h4Eventos h4 {
    font-size: 1.5rem;
    -webkit-animation: shake 1s;
            animation: shake 1s;
    -webkit-animation-iteration-count: infinite;
            animation-iteration-count: infinite;
  }
  @-webkit-keyframes shake {
    0% {
      -webkit-transform: translate(1px, 1px) rotate(0deg);
              transform: translate(1px, 1px) rotate(0deg);
    }
    10% {
      -webkit-transform: translate(-1px, -2px) rotate(-1deg);
              transform: translate(-1px, -2px) rotate(-1deg);
    }
    20% {
      -webkit-transform: translate(-3px, 0px) rotate(1deg);
              transform: translate(-3px, 0px) rotate(1deg);
    }
    30% {
      -webkit-transform: translate(3px, 2px) rotate(0deg);
              transform: translate(3px, 2px) rotate(0deg);
    }
    40% {
      -webkit-transform: translate(1px, -1px) rotate(1deg);
              transform: translate(1px, -1px) rotate(1deg);
    }
    50% {
      -webkit-transform: translate(-1px, 2px) rotate(-1deg);
              transform: translate(-1px, 2px) rotate(-1deg);
    }
    60% {
      -webkit-transform: translate(-3px, 1px) rotate(0deg);
              transform: translate(-3px, 1px) rotate(0deg);
    }
    70% {
      -webkit-transform: translate(3px, 1px) rotate(-1deg);
              transform: translate(3px, 1px) rotate(-1deg);
    }
    80% {
      -webkit-transform: translate(-1px, -1px) rotate(1deg);
              transform: translate(-1px, -1px) rotate(1deg);
    }
    90% {
      -webkit-transform: translate(1px, 2px) rotate(0deg);
              transform: translate(1px, 2px) rotate(0deg);
    }
    100% {
      -webkit-transform: translate(1px, -2px) rotate(-1deg);
              transform: translate(1px, -2px) rotate(-1deg);
    }
  }
  @keyframes shake {
    0% {
      -webkit-transform: translate(1px, 1px) rotate(0deg);
              transform: translate(1px, 1px) rotate(0deg);
    }
    10% {
      -webkit-transform: translate(-1px, -2px) rotate(-1deg);
              transform: translate(-1px, -2px) rotate(-1deg);
    }
    20% {
      -webkit-transform: translate(-3px, 0px) rotate(1deg);
              transform: translate(-3px, 0px) rotate(1deg);
    }
    30% {
      -webkit-transform: translate(3px, 2px) rotate(0deg);
              transform: translate(3px, 2px) rotate(0deg);
    }
    40% {
      -webkit-transform: translate(1px, -1px) rotate(1deg);
              transform: translate(1px, -1px) rotate(1deg);
    }
    50% {
      -webkit-transform: translate(-1px, 2px) rotate(-1deg);
              transform: translate(-1px, 2px) rotate(-1deg);
    }
    60% {
      -webkit-transform: translate(-3px, 1px) rotate(0deg);
              transform: translate(-3px, 1px) rotate(0deg);
    }
    70% {
      -webkit-transform: translate(3px, 1px) rotate(-1deg);
              transform: translate(3px, 1px) rotate(-1deg);
    }
    80% {
      -webkit-transform: translate(-1px, -1px) rotate(1deg);
              transform: translate(-1px, -1px) rotate(1deg);
    }
    90% {
      -webkit-transform: translate(1px, 2px) rotate(0deg);
              transform: translate(1px, 2px) rotate(0deg);
    }
    100% {
      -webkit-transform: translate(1px, -2px) rotate(-1deg);
              transform: translate(1px, -2px) rotate(-1deg);
    }
  }
  .sectionEventos__opcion3 {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 2fr 2fr;
        grid-template-columns: 2fr 2fr;
    -ms-grid-rows: auto;
        grid-template-rows: auto;
        grid-template-areas: "panes salmon";
    margin-top: 4rem 0rem 4rem 0rem;
  }
  .sectionEventos__opcion3:hover img {
    -webkit-filter: none;
            filter: none;
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
    -webkit-transition: 0.2s;
    transition: 0.2s;
  }
  .sectionEventos__opcion3 img {
    -webkit-filter: brightness(0.7);
            filter: brightness(0.7);
    width: 17rem;
    height: auto;
  }
  .sectionEventos__panes {
    display: block;
    margin: auto;
    margin-top: 20rem;
    margin-bottom: 3rem;
  }
  .sectionEventos__salmon {
    display: block;
    margin: auto;
    margin-bottom: 20rem;
    margin-top: 3rem;
  }
  /* QUIENES SOMOS */
  /* main quienes */
  .mainQuienes b {
    -webkit-animation-delay: 3s;
            animation-delay: 3s;
  }
  /* aside quienes */
  .asideQuienes__amasa {
    margin-top: 2rem;
    margin-bottom: 2rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .asideQuienes__amasa:hover img {
    -webkit-filter: grayscale(100%);
            filter: grayscale(100%);
    -webkit-transition: 0.5s;
    transition: 0.5s;
  }
  .asideQuienes__amasa img {
    width: 33.33%;
    height: auto;
    -webkit-filter: grayscale(0%);
            filter: grayscale(0%);
  }
  /* CONTACTO */
  .mainContacto__form input {
    width: 50%;
  }
  #datosConsulta textarea {
    width: 60%;
  }
  #datosConsulta button {
    width: 50%;
  }
}

/* DESKTOP */
@media (min-width: 991px) {
  /* INDEX */
  /* navbar */
  #navbar-brandDesktop {
    display: inline-block;
    margin: 0rem;
    padding: 0rem;
  }
  #navbar-brandMobile {
    display: inline-block;
    margin: 0rem;
    padding: 0rem;
  }
  .collapse {
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
  #navForm {
    width: 30%;
  }
  .navbar-nav a {
    text-align: center;
  }
  /* TIENDA */
  /* main tienda */
  .mainTienda__productos div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    margin-left: 5rem;
    margin-right: 5rem;
  }
  .mainTienda__productos li {
    width: 40rem;
  }
  .mainTienda__form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    padding: 1rem;
  }
  .mainTienda__contenedor div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
  .mainTienda__contenedor input {
    width: 70%;
  }
  .mainTienda__contenedor textarea {
    width: 80%;
  }
  .mainTienda__2 button {
    width: 50%;
    font-size: 1rem;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    font-weight: lighter;
    color: #F3DFC1;
    text-align: center;
    display: block;
    margin: auto;
    margin-top: 1rem;
    margin-bottom: 2rem;
  }
  .mainTienda__datos {
    margin-top: 5rem;
    margin-left: 3rem;
    width: 80%;
  }
  .mainTienda__datos div input {
    width: 50%;
  }
  .mainTienda__datos div p {
    margin: 0rem 4rem 0rem 4rem;
  }
  .mainTienda__pedidolisto {
    position: relative;
    display: block;
    margin: auto;
  }
  .mainTienda__pedidolisto:hover .overlay {
    height: 100%;
  }
  .mainTienda__pedidolisto img {
    height: 25rem;
    width: auto;
    display: block;
    margin: auto;
    margin-top: 1.5rem;
  }
  .mainTienda__pedidolisto div {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #00524B;
    overflow: hidden;
    width: 100%;
    height: 0;
    -webkit-transition: .5s ease;
    transition: .5s ease;
  }
  .mainTienda__pedidolisto h4 {
    color: white;
    font-size: 2rem;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
  }
  /* EVENTOS */
  /* main eventos */
  .mainEventos p {
    margin: 2rem 10rem 2rem 10rem;
    font-size: larger;
  }
  /* sectio eventos */
  .sectionEventos__opcion1:hover h4 {
    font-size: xx-large;
    -webkit-transition: 0.1s;
    transition: 0.1s;
  }
  .sectionEventos__opcion1 img {
    width: 22rem;
    height: auto;
  }
  .sectionEventos__opcion2 {
    padding: 3rem 1rem 3rem 1rem;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 2fr 2fr;
        grid-template-columns: 2fr 2fr;
    -ms-grid-rows: auto;
        grid-template-rows: auto;
        grid-template-areas: "menu frase2";
  }
  .sectionEventos__opcion2:hover h4 {
    font-size: xx-large;
    -webkit-transition: 0.1s;
    transition: 0.1s;
  }
  .sectionEventos__opcion2 h4 {
    display: block;
    margin: auto;
    margin-left: 2rem;
    margin-right: 2rem;
    -ms-grid-row: 1;
    -ms-grid-column: 2;
    grid-area: frase2;
  }
  .sectionEventos__opcion2 img {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    grid-area: menu;
  }
  /* QUIENES SOMOS */
  /* main quienes */
  .mainQuienes {
    margin: 2rem 0rem 3rem 0rem;
  }
  .mainQuienes p {
    margin: 2rem 10rem 2rem 10rem;
    font-size: larger;
  }
  .mainQuienes b {
    font-size: x-large;
  }
  /* CONTACTO */
  /* main contacto */
  .mainContacto__form input {
    width: 40%;
  }
  #datosConsulta textarea {
    width: 80%;
  }
  #datosConsulta button {
    width: 60%;
  }
}

/* generales */
* {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  background: #00524B;
}
/*# sourceMappingURL=estilo.css.map */