/* MOBILE */

/* INDEX */
/* navbar */
.navbar{
    padding: 0.5rem;
    input{
        @include letra;
    }
    button{
        font-family: $letra;
        font-size: $tam-letra;
    }
}
#navbarSupportedContent{
    margin-top: 1rem;
    margin-bottom: 1rem;
    li{
        margin-left: 2rem; 
        margin-right: 2rem;
        font-family: $letra;
        font-size: $tam-letra;
    }
}
#navbar-brandDesktop{
    display: none;
}

/* header */
.header{
    h1{
        display: none;
    }
    img{
        width: 100%;
        height: auto;
    }
    p{
        font-size: $tam-letra2;
        color: $color-1;
        text-align: center;
        margin-top: 1rem;
    }
    h2{
        font-size: $tam-letra +0.8rem;
        letter-spacing: 0.3rem;
        text-align: center;
        padding: 2rem;
        color: $color-2;
    }
}

/* section mobile */
.sectionMobile{
    padding: 1.3rem;
    h3{
        @include letra;
        font-size: $tam-letra +0.5rem;
        letter-spacing: 0.3rem;
    }
}

/* main */
.carousel-indicators{
    background: none;
}
.carousel-control-prev-icon{
    background: none;
}
.carousel-control-next-icon{
    background: none;
}
.mainIndex__imagenes{
    display: none;
}

/* section dektop */
.sectionDesktop{
    padding: 1.3rem;
    h3{
        @include letra;
        font-size: $tam-letra +1rem;
        font-weight: 400;
        letter-spacing: 0.3rem;
        animation: frase 4s infinite;
        @keyframes frase{
            0% {color: #B0F2B4;}
            15% {color: #BAF2E9;}
            30% {color: #BAD7F2;}
            50% {color: #F2BAC9;}
            70% {color: #BAD7F2;}
            85% {color: #BAF2E9;}
            100% {color: #B0F2B4;}
        }
    }  
}

/* footer */
.footer{
    @include letra;
    div{
        display: flex;
        flex-direction: row;
    }
    img{
        padding: 0.25rem;
        width: 33.333%;
        height: auto;
    }
    ul{
        display: flex;
        flex-direction: row;
        padding: 1rem;
        list-style-type: none;
        justify-content: center;
    }
    a{  
        color: $color-1;
        padding: 0.80rem;
        text-decoration: none;
        font-size: $tam-letra2;
    }
    p{
        font-size: $tam-letra2;
        margin-bottom: 2rem;
    }
}

/* TIENDA */
/* main tienda */
.mainTienda{
    margin-bottom: 3rem;
}
.mainTienda__productos{
    @include letra;
    ul{
        padding: 0px;
        margin: 0.5rem;
        list-style-type: none;
    }
    li{
        display: flex;
        flex-direction: row;
    }
    img{
        width: 18rem;
        height: auto;
        @include centrado;
        margin-top: 1rem;
        filter:brightness(0.7);
        &:hover{
            transform: scale(1.2);
            transition: 0.2s;
            filter: none;
        }
    }
}
.mainTienda__ul li{
    div{
        @include letra;
        margin: auto;
        margin-top: 1rem;
        margin-bottom: 0.5rem;
        display: flex;
        flex-direction: column;
        label{
            padding: 1rem;
            text-decoration: overline;
            font-size: larger;
            font-weight: 300;
        }
        &:hover label{
            color: $color-2;
            font-size: x-large;
            transition: 0.2s;
        }
        p{
            padding: 0.3rem;
        }
        select{
            width: 70%;
            @include centrado;
            @include letra;
            padding: 0.5rem;
            border-color: $color-principal;
        }
    }
}
.hr{
    border-color: $color-2;
    color: $color-2;
    background-color: $color-2;
    width: 85%;
    @include centrado;
    opacity: 90;
    margin-top: 3rem;
}
.mainTienda__datos{
    padding: 1px;
    margin: 4rem 0rem 2rem 0rem;
    filter: brightness(0.9);
    @include letra;
    div{
        display: flex;
        flex-direction: column;
        margin: 1rem 0rem 1rem 0rem;
        &:hover label{
            font-size: large;
            color: $color-2;
        }
        &:hover input{
            border-width: 0.2rem;
            border-style: solid;
            border-color: $color-principal $color-principal $color-2 $color-principal;
        }
        input{
            @include centrado;
            @include letra;
            color: $color-2;
            width: 60%;
            border: {
                style:solid;
                width: 0.1rem;
                color: $color-principal $color-principal $color-1 $color-principal;
            }
        }
        p{
            font-size: small;
            margin: 1.5rem 5rem 0rem 5rem;
        }
    }
}
.mainTienda__2{
    textarea{
        @include letra;
        color: $color-2;
        @include centrado;
        margin-top: 1rem;
        width: 70%;
        border: dashed 0.1rem $color-1;
        border-radius: 1rem;
    }
    button{
        width: 70%;
        @include letra;
        @include centrado;
        margin-top: 1rem;
        margin-bottom: 1rem;
    }
    margin-top: 2rem;
}
.mainTienda__label2{
    &:hover label{
        font-size: large;
        color: $color-2;
        text-decoration: overline;
    }
    &:hover textarea{
        border: {
            width: 0.2rem;
            style: solid;
            color: $color-2;
        }   
    }
    label{
        margin-top: 1rem;
        @include letra;
        @include centrado;
    }
}
.mainTienda__pedido{
    margin: 1rem 0rem 0rem 0rem;
}
.mainTienda__pedidolisto{
    display: none;
}

/* EVENTOS */
/* main eventos */
.mainEventos{
    p{
        @include letra;
        margin: 1rem 3rem 1rem 3rem;
    }
}

/* section eventos */
.sectionEventos{
    h4{
        @include letra;
        color: $color-2;
        font-size: $tam-letra +0.3rem;
        margin: 3.2rem;
    }   
}
.sectionEventos__opcion1{
    @include centrado;
    &:hover img{
        transform: scale(1.2);
        transition: 0.5s;
        filter: none;
    }
    img{
        @include centrado;
        width: 70%;
        height: auto;
        filter: brightness(0.7);
    }
}
.sectionEventos__opcion2{
    @include centrado;
    &:hover img{
        transform: scale(1.2);
        transition: 0.5s;
        filter: none;
    }
    img {
        @include centrado;
        width: 80%;
        height: auto;
        filter: brightness(0.7);
    }
}
.h4Eventos{
    @include centrado;
    @include letra;
    color: $color-2;
    letter-spacing: 0.12rem;
    &:hover h4{
        transition: 0.1s;
        font-size: 1.4rem;
        font-weight: 450;
        letter-spacing: 0.2rem;
    }
}
.sectionEventos__opcion3{
    display: flex;
    flex-direction: row-reverse;
    margin-bottom: 2rem;
    img{
        width: 50%;
        height: auto;
    }
}

/* QUIENES SOMOS */
/* main quienes */
.mainQuienes{
    @include letra;
    margin: 1rem 3rem 3rem 3rem;
    a{
        color: $color-2;
        text-decoration: none;
    }
    b{
        color: $color-2;
        font-weight: bolder;
        font-size: large;
        letter-spacing: 0.1rem;
        animation: enblanco 6s infinite;
        animation-delay: 2s;
        @keyframes enblanco{
            0% {color:$color-2;}
            100% {color:$color-principal;}
        }
    }
}

/* aside quienes */
.asideQuienes__amasa{
    display: none;
}

/* CONTACTO */
/* main contacto */
.mainContacto__form{
    @include letra;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
    padding: 1.5rem;
    filter: brightness(0.9);
    input{
        @include centrado;
        @include letra;
        width: 50%;
        border: {
            width: 0.1rem;
            style: solid;
            color: $color-principal $color-principal $color-1 $color-principal;
        }
    }
    label{
        margin: 1rem;
    }
}
.mainContacto__datos{
    div
    &:hover input{
        border: {
            width: 0.2rem;
            style: solid;
            color: $color-principal $color-principal $color-2 $color-principal;
        };
    }
    &:hover label{
        font-size: large;
        color: $color-2;
    }
}
#datosConsulta {
    margin-top: 1rem;
    margin-bottom: 2rem;
    &:hover label{
        font-size: large;
        color: $color-2;
        text-decoration: overline;
    }
    &:hover textarea{
        border: solid $color-2 0.2rem;
    }
    textarea{
        @include letra;
        @include centrado;
        color: $color-2;            width: 60%;
        border: dashed 0.1rem $color-1;
        border-radius: 1rem;
    }
    button{
        width: 60%;
        @include letra;
        @include centrado;
        margin-top: 1rem;
    }
}
