/* imports */
@import "variables";
@import "mixin";
@import "mobile";
 
/* generales */ 
*{
    font-family: $letra;
    background: $color-principal;
}

/* tambien podes hacer un * para mobible y otro para desktop. */

/* :not(p) */
/* 
.footer__imagen2:hover{
    transform: scale(1.2);
    transition: 0.5s;
} */

/* #navbarSupportedContent li{
    margin-right: 3.5rem;
    margin-left: 3.5rem; 
} */